{% extends'header.html' %}

{% block content %}
<div id="page-wrapper">

  <div class="container-fluid">

  <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">ADD ITEMS
        </h2>
      </div>
    </div>

  <!-- /.container-fluid -->

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form method="POST" class="form-horizontal" role="form" id="form-item">
            <input type="hidden" id="item-id" value="">

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Item Code:</label>
              <div class="col-sm-9">
                <input type="number" maxlength="50" class="form-control" name="item_code" placeholder="Enter Item Code" required="" autofocus="" value="{{ request.form['item_code']}}">
              </div>
            </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="">Generic Name:</label>
            <div class="col-sm-9">
              <input type="text" maxlength="50" class="form-control" name="item_name" placeholder="Enter Generic Name" required="" autofocus="" value="{{ request.form['item_name']}}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="">Brand Name:</label>
            <div class="col-sm-9">
              <input type="text" maxlength="50" class="form-control" name="brand_name" placeholder="Enter Brand Name" required="" autofocus="" value="{{ request.form['brand_name']}}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="type">Type:</label>
            <div class="col-sm-9">
              <select name="type" id="type" class="selectpicker form-control">
                <option value="Capsule">Capsules</option>
                <option value="Bottle">Bottle</option>
                <option value="Tablet">Tablet</option>
                <option value="Drops">Drops</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="type">Unit:</label>
            <div class="col-sm-9">
              <select name="unit" id="unit" class="selectpicker form-control">
                <option value="Box">Box</option>
                <option value="Piece">Pieces</option>
                <option value="Blister Pack">Blister Pack</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="">Stock:</label>
            <div class="col-sm-9">
              <input type="number" maxlength="50" class="form-control" name="stock" placeholder="Stock" required="" autofocus="" value="{{ request.form['stock']}}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="">Price:</label>
            <div class="col-sm-9"> 
              <input type="number" step="any" class="form-control" name="price" placeholder="Enter Price" required="" value="{{ request.form['price']}}">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3" for="">Volume:</label>
            <div class="col-sm-9">
              <input type="text" maxlength="50" class="form-control" name="volume" placeholder="Enter Volume" required="" autofocus="" value="{{ request.form['volume']}}">
              <select name="vol" id="vol" class="selectpicker" required >
                <option value="" selected><--Select--></option>
                <option value="kg">Kilogram</option>
                <option value="g">Gram</option>
                <option value="mg">Miligram</option>
                <option value="L">Litre</option>
                <option value="ml">Millilitre</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-3">Expired Date</label>
            <div class="col-sm-9">
              <input type="date" maxlength="50" class="form-control" placeholder="YYYY-MM-DD" name="expired" required="" value="{{ request.form['expired']}}">
            </div>
          </div>

          <div class="form-group"> 
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="submit-item" class="btn btn-default">Add Item
              <span class="glyphicon glyphicon" aria-hidden="true"></span>
              </button>
            </div>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}