{% extends'header.html' %}

{% block content %}
<div id="page-wrapper">

  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">EDIT ITEMS
        </h2>
      </div>
    </div>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form method="POST" class="form-horizontal" role="form" id="form-item">
          <input type="hidden" id="item-id" value="">

            <div class="form-group">
            <label class="control-label col-sm-3" for="">Item Code:</label>
              <div class="col-sm-9">
                <input type="text" maxlength="50" class="form-control" name="item_code" placeholder="Enter Item Code" required="" autofocus="" value="{{ request.form['item_code'] or post['item_code']}}" disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Generic Name:</label>
              <div class="col-sm-9">
                <input type="text" maxlength="50" class="form-control" name="item_name" placeholder="Enter Generic Name" required="" autofocus="" value="{{ request.form['item_name'] or post['item_name']}}" disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Brand Name:</label>
              <div class="col-sm-9">
                <input type="text" maxlength="50" class="form-control" name="brand_name" placeholder="Enter Generic Name" required="" autofocus="" value="{{ request.form['brand_name'] or post['brand_name']}}" disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="type">Type:</label>
              <div class="col-sm-9">
                <select name="type" id="type" class="selectpicker form-control" disabled>
                  <option value="Capsule">Capsules</option>
                  <option value="Bottle">Bottle</option>
                  <option value="Tablet">Tablet</option>
                  <option value="Drops">Drops</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="type">Unit:</label>
              <div class="col-sm-9">
                <select name="unit" id="unit" class="selectpicker form-control" value="{{ request.form['unit'] or post['unit']}}" disabled>
                <option value="Box">Box</option>
                <option value="Piece">Pieces</option>
                <option value="Blister Pack">Blister Pack</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Stock:</label>
              <div class="col-sm-9">
                <input type="number" maxlength="50" class="form-control" name="stock" placeholder="Stock" required="" autofocus="" value="{{ request.form['stock'] or post['stock']}}">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Volume:</label>
              <div class="col-sm-9">
                <input type="text" maxlength="50" class="form-control" name="volume" placeholder="Enter Volume" required="" autofocus="" value="{{ request.form['volume'] or post['volume'] }}" disabled>
                <select name="vol" id="vol" class="selectpicker" value="{{ request.form['vol'] or post['vol']}}" disabled>
                  <option value="{{ request.form['vol'] or post['vol']}}"></option>
                  <option value="kg">Kilogram</option>
                  <option value="g">Gram</option>
                  <option value="mg">Miligram</option>
                  <option value="L">Litre</option>
                  <option value="ml">Millilitre</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3" for="">Price:</label>
              <div class="col-sm-9"> 
                <input type="number" min="0.1" step="any" class="form-control" name="price" placeholder="Enter Price" required="" value="{{ request.form['price'] or post['price']}}" disabled>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-3">Expired Date</label>
              <div class="col-sm-9">
                <input type="date" maxlength="50" class="form-control" name="expired" required="" value="{{ request.form['expired'] or post['expired']}}" disabled>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <a href="/item">
                  <button type="button" class="btn btn-danger" id="del-stock">Cancel
                  </button>
                </a>
                <button type="submit" id="submit-item" class="btn btn-default">Save
                  <span class="glyphicon glyphicon" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div> 
  </div>
</div>
</script>
{% endblock %}